body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

/* 背景 + 遮罩 */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),
    url("/assets/images/bg-home.png");

  background-size: cover;
  background-position: center;

  z-index: -1;
}

/* 卡片 */
.card {
  background: rgba(30,30,30,0.6);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: rgba(20,20,20,0.8);
  backdrop-filter: blur(5px);
}

.nav-links {
  display: flex;  
  gap: 15px;
}

.nav-btn {
  position: relative;
  display: inline-block;

  height: 60px;
  padding: 10px 25px;
  text-decoration: none;

  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  background: #3f3f3f;
  border-radius: 6px;
  overflow: hidden;
  font-weight: bold;

  box-shadow: 0 4px 0 rgb(160, 160, 160, 0.5);
  transition: 0.1s;
}

.nav-btn:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0 rgb(160, 160, 160, 0.5);
}

.nav-btn::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 40%;
  transform: translateY(-50%);
  width: 0%;
  height: 30%;
  background: rgb(196, 196, 196, 0.6);
  transition: 0.3s;
  border-radius: 2;
}

.nav-btn span {
  position: relative;
  z-index: 1;
  color: rgb(196, 196, 196);
}

.nav-btn:hover::before {
  width: 70%;
}

.nav-btn:hover span {
  color: black;
}