.nav-links {
  display: flex;  
  gap: 15px;
}

.nav-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 10px 25px;

  text-decoration: none;
  font-weight: bold;

  background: transparent;
  box-shadow: none;

  border-radius: 2px;
  overflow: hidden;

  transition: 0.2s ease;
}

.nav-btn:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0 rgb(160, 160, 160, 0.5);
}

.nav-btn::before {
  content: "";
  position: absolute;
  bottom: 25%;

  width: 60%;
  height: 3px;

  background: rgba(255,255,255,0.8);
  transition: 0.3s;
  border-radius: 2px;
}

.nav-btn span {
  position: relative;
  z-index: 1;
  color: rgba(255,255,255,0.8);
  transition: 0.2s;
}

.nav-btn:hover {
  background: rgba(200,200,200,0.3);
  box-shadow: 0 3px 0 rgba(160,160,160,0.5);
}

.nav-btn:hover span {
  color: rgba(255,255,255,0.8);
}

.nav-btn:hover::before {
  width: 80%;
}

.hamburger {
  display: none;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger:hover {
  color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none; 
    flex-direction: column; 
    position: absolute;
    top: 66px; 
    left: 0;
    width: 100%;
    
    background: rgba(20, 20, 20, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-btn {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .nav-btn:hover {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.1);
  }
}